services:
  zabbix-proxy-sqlite3:
    # Usa 'build' para criar a imagem customizada baseada no Dockerfile
    build:
      context: .
      dockerfile: Dockerfile
    
    ports:
      - '10051:10051'
      
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/odbc.ini:/etc/odbc.ini"    # DSN (Data Source Name)
      - "/etc/odbcinst.ini:/etc/odbcinst.ini" # Configuração do driver
      - "/etc/oracle:/etc/oracle"        # TNSNAMES.ORA
      
    environment:
      # --- Configurações de Ambiente do Oracle/ODBC ---
      # Caminhos do Instant Client no container
      - 'ORACLE_HOME=/opt/oracle/instantclient_19_10'
      - 'LD_LIBRARY_PATH=/opt/oracle/instantclient_19_10'
      - 'TNS_ADMIN=/etc/oracle'
      
      # --- Configurações do Proxy (Mantidas originais) ---
      - 'ZBX_SERVER_HOST=10.0.2.120'
      - 'ZBX_SERVER_PORT=10051'
      - 'ZBX_HOSTNAME=Proxy-Randon'  
      - 'ZBX_PROXYLOCALBUFFER=24'
      - 'ZBX_PROXYOFFLINEBUFFER=24'
      - 'ZBX_PROXYHEARTBEATFREQUENCY=60'
      - 'ZBX_CONFIGFREQUENCY=600'
      - 'ZBX_DATASENDERFREQUENCY=30'
      - 'ZBX_ENABLEREMOTECOMMANDS=1'
      - 'ZBX_STARTPOLLERS=15'
      - 'ZBX_STARTPOLLERSUNREACHABLE=10'
      - 'ZBX_STARTPREPROCESSORS=10'
      - 'ZBX_STARTHTTPPOLLERS=15'
      - 'ZBX_STARTTRAPPERS=20'
      - 'ZBX_STARTPINGERS=15'
      - 'ZBX_STARTDISCOVERERS=5'
      - 'ZBX_STARTVMWARECOLLECTORS=15'
      - 'ZBX_VMWAREFREQUENCY=60'
      - 'ZBX_VMWAREPERFFREQUENCY=60'
      - 'ZBX_VMWARECACHESIZE=256M'
      - 'ZBX_VMWARETIMEOUT=300'
      - 'ZBX_CACHESIZE=512M'
      - 'ZBX_STARTDBSYNCERS=8'
      - 'ZBX_HISTORYCACHESIZE=32M'
      - 'ZBX_HISTORYINDEXCACHESIZE=32M'
      - 'ZBX_TIMEOUT=30'
